html, body {
  margin: 0;
  padding: 0;
  border: 0;
  heght: 100vh;
}

.menu {
  display: block;
  width: 150px;
  float: left;
}

.left-iframe {
  border: none;
  height: 100vh;
  width: 150px;
}

.content {
  margin-left: 150px;
  padding-left: 10px;
}
