ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  background-color: #f2f2f2;
}

ul li {
  border-bottom: 1px solid #ccc;
}

ul li a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

ul li ul li a {
  padding-left: 20px;
}

nav ul li a:hover {
  background-color: #ddd;
}
